@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

/*#palette {*/
/*    color: #f6f7eb;*/
/*    color: #e94f37;*/
/*    color:#393e41;*/
/*    color:#3e7cb1;*/
/*    color:#44bba4;*/
/*}*/

html {
    color: #f6f7eb;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    box-sizing: border-box;
}

h2 {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.5;
    margin: 0 0 1.5em 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.5;
    margin: .5em 0 .5em 0;
    text-transform: uppercase;
    letter-spacing: 0.35em;
}

body {
    background-color: #f6f7eb;
    margin: 0;
}

.inner {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #393e41;
    padding-top: 4em;
}

header p {
    letter-spacing: 2px;
    margin-bottom: 0;
    font-size: 21px;
    line-height: 1.6;
}

.main {
    padding-top: 4em;
    background-color: #393e41;
    padding-bottom: 4em;
    margin-top: -2px;
}

.apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 400px));
    column-gap: 100px;
    row-gap: 4em;
    justify-content: center;
}

.apps article {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: fadeIn .75s ease-out;
}

.apps article img {
    /* ! to work properly provide images in 16:9 ! */
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    position: relative;
    outline: 4px solid transparent;
    outline-offset: -4px;
    transition: all .3s ease-in-out;
}
@media (hover: hover) {
    .apps article img:hover {
        transform: scale(1.01);
        outline-color: rgba(233,79,55,1);
    }
}

.apps article p {
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1.3;
}

.buttons {
    padding-top: 10px;
}

.button {
    color: #f6f7eb;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    /*margin: 8px;*/
    cursor: pointer;
    border: 3px solid rgba(246, 247, 235, .6);
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 2px;
    transition: all .3s ease-in-out;
}

@media (hover: hover) {
    .button:hover {
        color: #e94f37;
        border-color: rgba(233, 79, 55, 0.8);
    }
}

.goToApp {
    margin-left: auto;
    margin-right: auto;
}

.goToApp .button{
    width: 80%;
}

.goToRepos {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 82%;
    margin-top:30px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-around
}
.goToRepos .button{
    width: 138px;
}

footer {
    background-color: #f6f7eb;
    color: #393e41;
    padding: 50px 50px 10px;
}

#copyright {
    margin-top: 3em;
    text-align: center;
    opacity: .5;
}

.icon {
    width: 50px;
    height: 50px;
    color: #393e41;
    margin-right: 30px;
    transition: color .4s ease-in-out;
}

@media (hover: hover) {
    .icon:hover {
        color: #3e7cb1;
    }
}


@keyframes fadeIn  {
    0% {
        opacity: 0;
        transform: scale(0.8) rotateY(-15deg) rotateZ(-5deg);
    }
    65% {
        opacity: 1;
        transform: scale(1.02) rotateZ(1deg);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
